@font-face {
font-family: ProximaNova;
font-weight: normal;
src: url("/static/ProximaNova-Reg.otf") format("opentype");
}

@font-face {
font-family: ProximaNova;
font-weight: bold;
src: url("/static/ProximaNova-Bold.otf") format("opentype");
}

span.make-link { 
	position:absolute; 
	width:100%;
	height:100%;
	top:0;
	left: 0;
}

.centre
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 594px;
}

header
{
	margin-top: 108px;
	margin-bottom: 108px;
}

h1.blog-title
{
	font-size: 80px;
	letter-spacing: 5px;
	line-height: 81px;
	width: 648px;
	text-align: center;
	font-weight: bold;
	font-family: 'ProximaNova', sans-serif;
	text-transform: uppercase;
}

#blog-subtitle
{
	color: rgb(180,180,180);
	text-align: center;
	margin-top: 54px;
	letter-spacing: 2px;
}

.post
{
	width: 697px;
	margin-bottom: 162px;
}

.secondary
{
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'ProximaNova', sans-serif;
	color: rgb(120,120,120);
	letter-spacing: 1px;
}

.post-content
{
	line-height: 27px;
	font-size: 16px;
	color: rgb(40,40,40);
}

.post-header
{
	text-align: center;
	margin-bottom: 27px;
	position: relative;
	width: 589px;
}

.post-header h2
{
	margin-bottom: 27px;
}

.button
{
	border: solid 1px;
	font-size: 14px;
	border-radius: 30px;
	padding: 1px 10px;
	cursor: pointer;
	color: rgb(120,120,120);
	margin-right: 5px;
	z-index: 10;
	line-height: 22px;
	/*text-transform: uppercase;*/
}

.post-buttons
{
	left: 0px;
	position: absolute;
}

.trueness-container
{
	right: 0px;
	position: absolute;
	padding: 2px;
	border: 1px solid;
	cursor: default;
	/*display: block;*/
	/*float: left;*/
	vertical-align: bottom;
	margin-top: 2px;
	display: inline-block;
	border-radius: 32px;
}

.trueness
{
	float: left;
	width: 10px;
	height: 10px;
	border: dashed 1px;
	margin: 1px 2px;
	border-radius: 30px;
	padding: 1px;
	cursor: pointer;
	/*display: inline-block;*/
}

.active
{
	background-color: rgb(120,120,120);
	color: rgb(255,255,255);
	border: solid 1px rgb(120,120,120);
}

.post[data-trueness="C"] .post-content
{
	color: rgb(120,120,120);
}

.post[data-trueness="A"] .post-published
{
	color: rgb(0,0,0);
	border-bottom: rgb(120,120,120) 1px solid;
}

blockquote {
	text-indent: -0.8em;
	/*font-size: 16px;*/
}


body {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	line-height: 27px;
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 27px;
}

footer
{
	font-family: 'ProximaNova', sans-serif;
	height: 54px;
	text-align: center;
	padding-top: 27px;
	background-image: linear-gradient(to right, rgb(120,120,120) 60%, rgba(255,255,255,0) 0%);
	background-position: top;
	background-size: 30px 1px;
	background-repeat: repeat-x;
}

* 
{
  margin: 0;
  padding: 0;
}
