.empty-area
{
	margin-top: 81px;
	margin-bottom: 54px;
	min-height: 243px;
	outline: none;
}

.buttons
{
	width: 81px;
	text-align: center;
}

.button
{
	margin-bottom: 10px;
	display: inline-block;
}