Django==1.7
dj-database-url
dj-static
django-toolbelt
gunicorn
psycopg2
static3
wsgiref
django-grappelli
django-endless-pagination
raven
django-markdown-deux
html2text
langdetect
babel
django-jquery
django_compressor==1.4
django-libsass