{% load custom_tags %}
<html>
<head>
    <link href="/static/base.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/static/he.js"></script>
    <script src="/static/to-markdown.js"></script>

    <title>{% current_blog %}</title>
</head>
<body>
<header>
	<h1 class="blog-title centre">{% current_blog %}</h1>
	<span class="secondary centre" id="blog-subtitle">weblog</span>
</header>
{% block content %}
{% endblock %}
<footer>
	Powered by me, Guido van Rossum and a bunch of other guys
</footer>
</body>
</html>