{% load markdown_deux_tags %}
{% load custom_tags %}
{% load endless %}
{% paginate post_list %}
{% for post in post_list %}
	<div id="post{{ post.id }}" class="post post--{{ post.get_trueness_display }} centre" data-trueness="{{ post.trueness }}">
		<div class="post-header centre">
      
    	{% if user.is_staff %}
  			<span class="post-buttons">
  				<span class="button post-update" data-url="{% url 'post_update' pk=post.pk %}">Edit</span>
  				<span class="button post-delete" data-url="{% url 'post_delete' pk=post.pk %}">Delete</span>
  			</span>
      {% endif %}
      
			<span class="secondary post-published">{{ post.publication_date_short }}</span>
      
    	{% if user.is_staff %}
  			<div class="button trueness-container" data-url="{% url 'post_update' pk=post.pk %}">
  				<div class="trueness {% if post.trueness == 'A' %}active{% endif %}" data-value="A"></div>
  				<div class="trueness {% if post.trueness == 'B' %}active{% endif %}" data-value="B"></div>
  				<div class="trueness {% if post.trueness == 'C' %}active{% endif %}" data-value="C"></div>
  			</div>
      {% endif %}
      
		</div>
    
		<div id="post-content">
			{{ post.content|cipher|markdown|extra_markdown }}
		</div>
    
		{% if post.comments %}
  		<span class="secondary">{{ comments_count }}</span>
		{% endif %}
	</div>
{% endfor %}
{% show_more %}