{% load markdown_deux_tags %}
{% load custom_tags %}

<div id="post{{ post.id }}" class="post post__container centre" data-target="post" data-trueness="{{ post.trueness }}">
	<div class="post__header" data-reveal-concealed>
    
  	{% if user.is_staff %}
			<span class="post__buttons">
				<span class="button concealed" data-target="post.update" data-url="{% url 'post_update' pk=post.pk %}">Edit</span>
				<span class="button concealed" data-target="post.delete" data-url="{% url 'post_delete' pk=post.pk %}">Delete</span>
			</span>
    {% endif %}
    
		<span class="post__publication-date">{{ post.publication_date_short }}</span>
    
  	{% if user.is_staff %}
			<div class="trueness__outline concealed" data-url="{% url 'post_update' pk=post.pk %}" data-target="trueness.container">
				<div class="trueness__option {% if post.trueness == 'A' %}trueness__option--active{% endif %}" data-target="trueness" data-value="A"></div>
				<div class="trueness__option {% if post.trueness == 'B' %}trueness__option--active{% endif %}" data-target="trueness" data-value="B"></div>
				<div class="trueness__option {% if post.trueness == 'C' %}trueness__option--active{% endif %}" data-target="trueness" data-value="C"></div>
			</div>
    {% endif %}
    
	</div>
  
	<div class="post__content markdown-scope" data-target="post.content">
		{{ post.content|cipher|markdown|extra_markdown }}
	</div>
  
</div>