{% load markdown_deux_tags %}
{% for post in post_list %}
	<script>
	$(document).ready(function () {
		$('.button').css('opacity', 0);
		{% if user.is_staff %}
		$('.post-header').off('mouseenter mouseleave');
		$('.post-header').hover(function () {
			$(this).find('.button').animate({ opacity: 1 }, 200);
		}, function () {
			$(this).find('.button').animate({ opacity: 0 }, 200);
		});
		$('.post-delete').off('click');
		$('.post-delete').click(function (){
			self = $(this);
			$.ajax($(this).attr('data-url'), {
				type: 'POST',
				success: function (response) {
					self.parents('.post').hide(200);
				}
			});
		});
		$('.post-update').off('click');
		$('.post-update').click(function (){
			self = $(this);
			if (self.hasClass('active'))
			{
				$.ajax($(this).attr('data-url'), {
					type: 'POST',
					data: { content: toMarkdown(self.parents('.post').find('.post-content').html()) },
					success: function (response) {
						self.removeClass('active');
						self.parents('.post').find('.post-content').removeAttr('contenteditable');
					}
				});

			}
			else
			{
				self.addClass('active');
				self.parents('.post').find('.post-content').attr('contenteditable','true');
			}

		});
		$('.trueness').off('click');
		$('.trueness').click(function (){
			self = $(this);
			$.ajax($(this).parents('.trueness-container').attr('data-url'), {
				type: 'POST',
				data: { trueness: $(this).attr('data-value') },
				success: function (response) {
					self.parents('.trueness-container').find('.trueness').removeClass('active');
					self.addClass('active');
					self.parents('.post').attr('data-trueness', self.attr('data-value'));
				}
			});
		});
		{% endif %}
	});
	</script>
	<div class="post {{ post.get_trueness_display }} centre" data-trueness="{{ post.trueness }}">
		<a href="{% url 'post_detail' pk=post.pk %}"><!-- <span class="make-link"></span> --></a>
		<div class="post-header centre">
<!-- 			{% if post.title %}
				<h2>{{ post.title }}</h2>
			{% endif %} -->
			<span class="post-buttons">
				<span class="button post-update" data-url="{% url 'post_update' pk=post.pk %}">Edit</span>
				<span class="button post-delete" data-url="{% url 'post_delete' pk=post.pk %}">Delete</span>
			</span>
			<span class="secondary post-published">{{ post.published|date:'j E' }}</span>
			<div class="button trueness-container" data-url="{% url 'post_update' pk=post.pk %}">
				<div class="trueness {% if post.trueness == 'A' %}active{% endif %}" data-value="A"></div>
				<div class="trueness {% if post.trueness == 'B' %}active{% endif %}" data-value="B"></div>
				<div class="trueness {% if post.trueness == 'C' %}active{% endif %}" data-value="C"></div>
			</div>
		</div>
		<div class="post-content">
			{{ post.content|markdown }}
		</div>
		{% if post.comments %}
		<span class="secondary">{{ comments_count }}</span>
		{% endif %}
	</div>
{% endfor %}