{% load custom_tags %}
<html>
<head>
    <link href="/static/base.css" rel="stylesheet" type="text/css">
    <link href="/static/create.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/static/he.js"></script>
    <script src="/static/to-markdown.js"></script>
    <script src="/static/base.js"></script>
    <script src="/static/markdown.js"></script>
    <script src="/static/local-storage.js"></script>

    <title>Writing — {% current_blog %}</title>
</head>
<body>
	<script>
	$(document).ready(function () {

		$('.submit').click(function () {
			$('.post').fadeOut(200)

			$.ajax($(this).attr('data-url'), {
				type: 'POST',
				data: { content: $('#post-content').val() },
				success: function (response) {
          window.close()
          window.opener.location.reload()
				}
			});
		});
	});
	</script>
	<div class="post centre" data-trueness="A">
		<textarea id="post-content" class="empty-area" data-backup="value"></textarea>
		<div class="buttons">
			<div class="button submit" data-url="{% url 'post_create' %}" data-backup-purge="click">Submit</div>
		</div>
	</div>
</body>