{% load markdown_deux_tags %}
{% load custom_tags %}

<div id="post{{ post.id }}" class="post post__container centre" data-trueness="{{ post.trueness }}" data-controller="post" data-post-update-url="{% url 'post_update' pk=post.pk %}" data-post-delete-url="{% url 'post_delete' pk=post.pk %}">
	<div class="post__header" data-reveal-concealed>
    
  	{% if user.is_staff %}
			<span class="post__buttons concealed">
				<span class="button" data-action="post#edit" data-target="post.edit">Edit</span>
				<span class="button" data-action="post#delete">Delete</span>
			</span>
    {% endif %}
    
		<span class="post__publication-date">{{ post.publication_date_short }}</span>
    
  	{% if user.is_staff %}
			<div class="trueness__outline concealed">
				<div class="trueness__option {% if post.trueness == 'A' %}trueness__option--active{% endif %}" data-action="post#trueness" data-value="A" data-target="post.trueness"></div>
				<div class="trueness__option {% if post.trueness == 'B' %}trueness__option--active{% endif %}" data-action="post#trueness" data-value="B" data-target="post.trueness"></div>
				<div class="trueness__option {% if post.trueness == 'C' %}trueness__option--active{% endif %}" data-action="post#trueness" data-value="C" data-target="post.trueness"></div>
			</div>
    {% endif %}
    
	</div>
  
	<div class="post__content markdown-scope" data-target="post.content">
		{{ post.content|cipher|markdown|extra_markdown }}
	</div>
  
</div>