{% load markdown_deux_tags %}
<html>
<head>
    <link href="/static/base.css" rel="stylesheet" type="text/css">
    <link href="/static/create.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/static/he.js"></script>
    <script src="/static/to-markdown.js"></script>
</head>
<body>
	<script>
	$(document).ready(function () {
		$('.post-content').focus();
		$('.submit').click(function () {
			self = $(this);
			$('.post').fadeOut(200);
			$.ajax($(this).attr('data-url'), {
				type: 'POST',
				data: { content: toMarkdown($('.post-content').html()) },
				success: function (response) {
					$('.post-content').html('');
					$('.post').fadeIn(200);
					window.close();
				}
			});
		});
	});
	</script>
	<div class="post centre" data-trueness="A">
		<div class="post-content empty-area" contenteditable>
			
		</div>
		<div class="buttons">
			<div class="button submit" data-url="{% url 'post_create' %}">Submit</div>
<!-- 			<div class="button trueness-container">
				<div class="trueness {% if post.trueness == 'A' %}active{% endif %}" data-value="A"></div>
				<div class="trueness {% if post.trueness == 'B' %}active{% endif %}" data-value="B"></div>
				<div class="trueness {% if post.trueness == 'C' %}active{% endif %}" data-value="C"></div>
			</div> -->
		</div>
	</div>
</body>