{% extends "blog/base.html" %}
{% load markdown_deux_tags %}
{% block content %}
	<div class="post {{ post.get_trueness_display }} centre">
		<a href="{% url 'post_detail' pk=post.pk %}"><span class="make-link"></span></a>
		<div class="post-header centre">
			{% if post.title %}
				<h2>{{ post.title }}</h2>
			{% endif %}
			<span class="post-published">{{ post.published|date:'j E' }}</span>
		</div>
		<div class="post-content">
			{{ post.content|markdown }}
		</div>
	</div>
{% endblock %}