{% load custom_tags %}
<html>
<head>
	{% include "stylesheets_javascripts.html" %}

  <title>Writing — {% current_blog %}</title>
</head>
<body>
	<div class="post post__container" data-trueness="A">
		<textarea class="form__content post__content" data-target="post.content" data-backup="value"></textarea>
		<div class="form__buttons">
			<div class="form__button button" data-target="submit" data-url="{% url 'post_create' %}" data-backup-purge-on="request:success">Submit</div>
		</div>
	</div>
</body>