{% load markdown_deux_tags %}
{% load custom_tags %}
{% load endless %}
{% paginate post_list %}

{% for post in post_list %}
	<div id="post{{ post.id }}" class="post post--{{ post.get_trueness_display }} centre" data-trueness="{{ post.trueness }}">
		<div class="post__header centre" data-reveal-transparent>
      
    	{% if user.is_staff %}
  			<span class="post__buttons">
  				<span class="button button--transparent" data-behavior="post-update" data-url="{% url 'post_update' pk=post.pk %}">Edit</span>
  				<span class="button button--transparent" data-behavior="post-delete" data-url="{% url 'post_delete' pk=post.pk %}">Delete</span>
  			</span>
      {% endif %}
      
			<span class="post__publication-date font--secondary">{{ post.publication_date_short }}</span>
      
    	{% if user.is_staff %}
  			<div class="button button--transparent trueness-container" data-url="{% url 'post_update' pk=post.pk %}">
  				<div class="trueness-container__option {% if post.trueness == 'A' %}active{% endif %}" data-behavior="trueness" data-value="A"></div>
  				<div class="trueness-container__option {% if post.trueness == 'B' %}active{% endif %}" data-behavior="trueness" data-value="B"></div>
  				<div class="trueness-container__option {% if post.trueness == 'C' %}active{% endif %}" data-behavior="trueness" data-value="C"></div>
  			</div>
      {% endif %}
      
		</div>
    
		<div class="post__content markdown-scope" data-behavior="post-content">
			{{ post.content|cipher|markdown|extra_markdown }}
		</div>
    
	</div>
{% endfor %}
{% show_more %}