@font-face {
  font-family: ProximaNova;
  font-weight: normal;
  src: url("/static/ProximaNova-Reg.otf") format("opentype");
}

@font-face {
  font-family: ProximaNova;
  font-weight: bold;
  src: url("/static/ProximaNova-Bold.otf") format("opentype");
}

@import "mixins";
@import "vertical";
@import "variables";

body {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
  background-color: var(--background);
  color: var(--text);
}

p {
	margin-bottom: 27px;
}

footer
{
	font-family: 'ProximaNova', sans-serif;
	height: vertical(2);
	text-align: center;
	padding-top: vertical(1);
	background-image: linear-gradient(to right, var(--fill) 60%, rgba(var(--background),0) 0%);
	background-position: top;
	background-size: 30px 1px;
	background-repeat: repeat-x;
}

* 
{
  margin: 0;
  padding: 0;
}
