@font-face {
  font-family: ProximaNova;
  font-weight: normal;
  src: url("/static/ProximaNova-Reg.otf") format("opentype");
}

@font-face {
  font-family: ProximaNova;
  font-weight: bold;
  src: url("/static/ProximaNova-Bold.otf") format("opentype");
}

@import "mixins";

body {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 27px;
}

footer
{
	font-family: 'ProximaNova', sans-serif;
	height: 54px;
	text-align: center;
	padding-top: 27px;
	background-image: linear-gradient(to right, rgb(120,120,120) 60%, rgba(255,255,255,0) 0%);
	background-position: top;
	background-size: 30px 1px;
	background-repeat: repeat-x;
}

* 
{
  margin: 0;
  padding: 0;
}
