@import "mixins";
@import "vertical";
@import "constants";

.blog__title
{
  @include centre;
	width: 648px;
	font-size: 80px;
	letter-spacing: 5px;
	line-height: vertical(3);
	text-align: center;
	font-weight: bold;
	font-family: 'ProximaNova', sans-serif;
	text-transform: uppercase;

  &.solid
  {
  	color: $solid;
  	border: $solid 10px solid;
  	padding: 5px 10px;
  }

  &.with-image
  {
  	background: url(/static/ferry.jpg) no-repeat;
  	background-position: 20% 50%;
  }

  &.see-through
  {
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  }
  
  &.small { 
    transform: scale(0.4);
  }
}

header
{
	margin-top: vertical(2);
	margin-bottom: vertical(4);

	display: flex;
	> div {
		display: inline-block;
		margin: auto;
	}
}

.blog__subtitle
{
	width: 100%;

  text-align: center;
	letter-spacing: 2px;
  
	text-transform: lowercase;
	font-variant: small-caps;
	
	display: flex;
	justify-content: space-between;
	align-items: center;

	.line {
		flex-grow: 1;
		border-bottom: 1px solid black;
		height: 1px;
		margin: 0px 1ch;
	}
}