@import "mixins";
@import "vertical";
@import "variables";

.blog-title
{
  @include centre;
	width: 648px;
	font-size: 80px;
	letter-spacing: 5px;
	line-height: vertical(3);
	text-align: center;
	font-weight: bold;
	font-family: 'ProximaNova', sans-serif;
	text-transform: uppercase;

  &.solid
  {
  	color: var(--solid);
  	border: var(--solid) 10px solid;
  	padding: 5px 10px;
  }

  &.with-image
  {
  	background: url(/static/ferry.jpg) no-repeat;
  	background-position: 20% 50%;
  }

  &.see-through
  {
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  }
}

header
{
	margin-top: vertical(4);
	margin-bottom: vertical(4);
}

.blog-subtitle
{
	color: var(--lightfill);
	margin-top: vertical(2);
	text-align: center;
	letter-spacing: 2px;
}
