@import "variables";

.button, .plus-button {
  transition: opacity 0.2s linear;
}

.transparent:not(.button--active) {
  opacity: 0;
}

@import "mixins";

.button {
  @include button-base;
	border: solid 1px;
	color: $fill;
  cursor: pointer;
	padding: 1px 10px;

  &--active {
  	background-color: $fill;
  	border: solid 1px $fill;
  	color: $background;
  }
}