@import "variables";

:root {
  --button-color: var(--fill);
}

.concealed, .button, .plus-button {
  transition: opacity 0.2s linear;
}

.concealed:not(.button--active) {
  opacity: 0;
}

@import "mixins";

.button {
  @include button-base;
	border: solid 1px var(--button-color);
	color: var(--button-color);
  cursor: pointer;
	padding: 1px 10px;

  &--active {
  	background-color: var(--button-color);
  	border: solid 1px var(--button-color);
  	color: var(--background);
  }
}
