@import "variables";

$button-color: $fill;

.concealed, .button, .plus-button, .post__buttons {
  transition: opacity 0.2s linear;
}

.concealed:not(.button--active) {
  opacity: 0;
}

@import "mixins";

.button {
  @include button-base;
	border: solid 1px $button-color;
	color: $button-color;
  cursor: pointer;
	padding: 1px 10px;

  &--active {
  	background-color: $button-color;
  	border: solid 1px $button-color;
  	color: $background;
  }
}