@import "vertical";
@import "variables";

.empty-area
{
	margin-top: vertical(3);
	margin-bottom: vertical(1);
	min-height: vertical(9);

	width: 100%;

	outline: none;
  border: none;
  resize: none;
  
  background-color: $background;
}

.post-form .buttons
{
	width: 81px;
	text-align: center;
}

.post-form .button
{
	margin-bottom: 10px;
	display: inline-block;
}