.empty-area
{
	margin-top: 81px;
	margin-bottom: 28px;
	min-height: 243px;

	width: 100%;

	outline: none;
  border: none;
  resize: none;
}

.post-form .buttons
{
	width: 81px;
	text-align: center;
}

.post-form .button
{
	margin-bottom: 10px;
	display: inline-block;
}