@import "vertical";
@import "variables";

.form__content {
	margin-top: vertical(3);
	margin-bottom: vertical(1);
	min-height: vertical(9);

	width: 100%;

	outline: none;
  border: none;
  resize: none;
  
  background-color: var(--background);
}

.form__buttons {
  display: inline-block;
  padding-bottom: 10px;
}
