@import "vertical";
@import "variables";

.form {
  &__content {
  	margin-top: vertical(3);
  	margin-bottom: vertical(1);
  	min-height: vertical(9);

  	width: 100%;

  	outline: none;
    border: none;
    resize: none;
  
    background-color: $background;
  }

  &__buttons {
    display: inline-block;
    padding-bottom: 10px;
  }  
}

