@import "variables";

.markdown-scope {
  img { 
    max-width: 100%; 
    margin: auto;
    display: block;
  }
  
  blockquote {
  	text-indent: -0.8em;
  	/*font-size: 16px;*/
  }
  
  .special-word {
    color: $special-word;
    font-style: italic;
  }
}