@import "variables";

@mixin font--secondary {
	font-size: var(--button);
	text-transform: uppercase;
	font-family: 'ProximaNova', sans-serif;
	color: var(--fill);
	letter-spacing: 1px;
}

@mixin centre {
	display: block;
	width: 594px;
	margin-left: auto;
	margin-right: auto;
}

@mixin button-base {
	font-size: var(--button);
	border-radius: 30px;
	margin-right: 5px;
	z-index: 10;
	line-height: 22px;
}
