@import "variables";

.plus-button
{
	text-align: center;
	/*width: 81px;*/
	height: 0px;
	font-size: 81px;
	/*font-weight: bold;*/
	/*border: dashed 1px;*/
	border-radius: 40px;
	position: relative;
	bottom: 81px;
	cursor: pointer;
	color: var(--lightfill);
}
