@import "constants";
@import "vertical";

.plus-button
{
  height: vertical(4);
  display: flex;
  justify-content: center;
  align-items: center;
	/*font-weight: bold;*/
	/*border: dashed 1px;*/
	border-radius: 40px;
	position: relative;
	font-size: vertical(3);
	cursor: pointer;
	color: var(--lightfill);

  @media screen and (max-width: 730px) {
    height: vertical(3);
  }
}
