@import "mixins";
@import "vertical";

.post
{
  &__container {
    @include centre;
  	width: 697px;
  	margin-bottom: vertical(6);
  }
  
  &__header {
    @include centre;
  	width: 589px;
  	margin-bottom: vertical();
  	text-align: center;
  	position: relative;
  }
  
  &__publication-date {
    @include font--secondary;
  }

  &__content {
  	line-height: vertical();
  	font-size: 16px;
  	color: var(--text);
  	font-family: Helvetica, sans-serif;
  }

  &__buttons {
  	left: 0px;
  	position: absolute;
  }


  &[data-trueness="C"] {
   .post__content {
    	color: var(--fill);
    }
  }

  &[data-trueness="A"] {
   .post__publication-date {
    	color: var(--text);
    	border-bottom: var(--fill) 1px solid;
    }
  }
}
