.post
{
	width: 697px;
	margin-bottom: 162px;
}

.post__content
{
	line-height: 27px;
	font-size: 16px;
	color: rgb(40,40,40);
	font-family: Helvetica, sans-serif;
}

.post__content img { 
  max-width: 100%; 
  margin: auto;
  display: block;
}

.post__header
{
	text-align: center;
	margin-bottom: 27px;
	position: relative;
	width: 589px;
}

.post__buttons
{
	left: 0px;
	position: absolute;
}

.post[data-trueness=C] .post__content
{
	color: rgb(120,120,120);
}

.post[data-trueness=A] .post__publication-date
{
	color: rgb(0,0,0);
	border-bottom: rgb(120,120,120) 1px solid;
}