@import "mixins";
@import "vertical";

.post
{
  &__container {
    @include centre;
  	width: 697px;
  	margin-bottom: vertical(6);
  }
  
  &__header
  {
    @include centre;
  	width: 589px;
  	margin-bottom: vertical();
  	text-align: center;
  	position: relative;
  }
  
  &__publication-date {
    @include font--secondary;
  }

  &__content
  {
  	line-height: vertical();
  	font-size: 16px;
  	color: rgb(40,40,40);
  	font-family: Helvetica, sans-serif;
  }

  &__buttons
  {
  	left: 0px;
  	position: absolute;
  }


  &[data-trueness="C"] {
   .post__content {
    	color: rgb(120,120,120);
    }
  }

  &[data-trueness="A"] {
   .post__publication-date {
    	color: rgb(0,0,0);
    	border-bottom: rgb(120,120,120) 1px solid;
    }
  }
}