@import "mixins";
@import "variables";

:root 
{
  --button-color: var(--fill);
}

.trueness {
  &__outline {
    @include button-base;
    
  	right: 0px;
  	position: absolute;
  	padding: 2px;
  	border: 1px solid var(--button-color);
  	cursor: default;
  	vertical-align: bottom;
  	margin-top: 2px;
  	display: inline-block;
  	border-radius: 32px;
  }

  &__option {
  	float: left;
  	width: 10px;
  	height: 10px;
  	border: 1px dashed var(--button-color);
  	margin: 1px 2px;
  	border-radius: 30px;
  	padding: 1px;
  	cursor: pointer;

    &--active {
    	background-color: var(--button-color);
    	border: solid 1px var(--button-color);
    	color: var(--background);
    }
  }
}
