@import "mixins";
@import "variables";

$button-color: $fill;

.trueness {
  &__outline {
    @include button-base;
    
  	right: 0px;
  	position: absolute;
  	padding: 2px;
  	border: 1px solid $button-color;
  	cursor: default;
  	vertical-align: bottom;
  	margin-top: 2px;
  	display: inline-block;
  	border-radius: 32px;
  }

  &__option {
  	float: left;
  	width: 10px;
  	height: 10px;
  	border: 1px dashed $button-color;
  	margin: 1px 2px;
  	border-radius: 30px;
  	padding: 1px;
  	cursor: pointer;

    &--active {
    	background-color: $button-color;
    	border: solid 1px $button-color;
    	color: $background;
    }
  }
}