{% load compress %}

{% compress css %}
  <link href="/static/stylesheets/base.scss" rel="stylesheet" type="text/x-scss">
  <link href="/static/stylesheets/form.scss" rel="stylesheet" type="text/x-scss">
  <link href="/static/stylesheets/plus-button.scss" rel="stylesheet" type="text/x-scss">
  <link href="/static/stylesheets/markdown.scss" rel="stylesheet" type="text/x-scss">
  <link href="/static/stylesheets/button.scss" rel="stylesheet" type="text/x-scss">
  <link href="/static/stylesheets/post.scss" rel="stylesheet" type="text/x-scss">
  <link href="/static/stylesheets/trueness.scss" rel="stylesheet" type="text/x-scss">
  <link href="/static/stylesheets/blog-header.scss" rel="stylesheet" type="text/x-scss">
{% endcompress %}
  
{% compress js %}
  <script type="module" src="/static/application.js"></script>

  <script src="/static/js/jquery.js"></script>
  <script src="/static/he.js"></script>
  <script src="/static/to-markdown.js"></script>
  <script src="/static/markdown.js"></script>

  <script src="/static/behavior/blog-heading.js"></script>
  <script src="/static/behavior/new-window.js"></script>
  <script src="/static/behavior/concealed.js"></script>
  
  <script src="/static/endless_pagination/js/endless-pagination.js"></script>
  <script>
    $(document).ready(function() {
    	$.endlessPaginate({paginateOnScroll: true});
	  });
  </script>
{% endcompress %}