  <link href="/static/base.css" rel="stylesheet" type="text/css">
  <link href="/static/create.css" rel="stylesheet" type="text/css">
  <link href="/static/markdown.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="/static/he.js"></script>
  <script src="/static/to-markdown.js"></script>
  <script src="/static/markdown.js"></script>

  <script src="/static/base.js"></script>
  <script src="/static/behavior/local-storage.js"></script>
  <script src="/static/behavior/plus-button.js"></script>
  <script src="/static/behavior/post-buttons.js"></script>