  <link href="/static/stylesheets/base.css" rel="stylesheet" type="text/css">
  <link href="/static/stylesheets/create.css" rel="stylesheet" type="text/css">
  <link href="/static/stylesheets/markdown.css" rel="stylesheet" type="text/css">
  <link href="/static/stylesheets/button.css" rel="stylesheet" type="text/css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="/static/he.js"></script>
  <script src="/static/to-markdown.js"></script>
  <script src="/static/markdown.js"></script>

  <script src="/static/base.js"></script>
  <script src="/static/behavior/local-storage.js"></script>
  <script src="/static/behavior/plus-button.js"></script>
  <script src="/static/behavior/post-buttons.js"></script>
  <script src="/static/behavior/submit-button.js"></script>
  <script src="/static/behavior/transparent.js"></script>
  
  <script src="/static/endless_pagination/js/endless-pagination.js"></script>
  <script>
    $(document).ready(function() {
    	$.endlessPaginate({paginateOnScroll: true});
	  });
  </script>