<div class="post centre" data-controller="editing" data-editing-url="<%= url_for(post) %>">
  <div class="post__header centre">
		<span class="post__buttons">
			<span class="button post-update" data-action="startEditing">Edit</span>
			<span class="button post-delete" data-action="delete">Delete</span>
		</span>
    
    <span class="secondary post__publication-date"><%= post.publication_date %></span>
    
		<div class="button trueness">
			<div class="trueness__option" data-action="setTruebess" data-value="A"></div>
			<div class="trueness__option" data-action="setTruebess" data-value="B"></div>
			<div class="trueness__option" data-action="setTruebess" data-value="C"></div>
		</div>
  </div>
  
  <div id="post__content">
    <%= markdown post.content %>
  </div>
</div>