<header>
	<h1 class="blog-title centre solid with-image see-through"><%= current_blog.title %></h1>
	<span class="secondary centre" class="blog-subtitle">weblog</span>
</header>

<div class="plus-button centre">+</div>

<%= render @posts %>

<footer>
	Powered by me, Guido van Rossum and a bunch of other guys
</footer>